.arrow-keyword {
  position: relative;
}
.arrow-keyword:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: red;
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}

.arrow-border {
  position: relative;
}
.arrow-border:before, .arrow-border:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: blue;
  border-width: 0.5em;
  left: 1em;
}
.arrow-border:before {
  border-width: 0.875em;
  margin-left: -0.375em;
}
