.icon-test:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: icons;
  font-style: normal;
  speak: none;
}

[data-icon]:before {
  content: attr(data-icon);
}
