// ------
// import

@import "compass";
@import "susy";
@import "accoutrement";

// ----------------
// demo page layout

$total-columns: 8;

@include establish-baseline;

body {
  @include container;
  @include rhythm-margins(2);
}

h2 {
  @include leader;
  @include leading-border(2px,.25);
  color: lightgray;
}

// ----
// a11y

.a11y {
  .gone-here { @extend %alt-text; }
  &:hover .gone-here { @include here; }
}

// ------
// arrows

.arrows {
  p { @include rhythm-borders(2px,.5); }
  .arrow-down {
    @include arrow(bottom center .5em red);
    border-color: red;
  }
  .arrow-up-border {
    @include arrow(top 1em 6px lightgray, 2px red);
    border-color: red;
    background: lightgray;
  }
}

// ------
// layout

