// ----------------------------------------------------------------------------
// gone

@mixin gone {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// ----------------------------------------------------------------------------
// alt text

%alt-text { @include gone; }
