// Fonts
// =====

$font-file-types: 'woff', 'ttf';

@mixin font(
  $font
) {
  $name: false;
  $location: false;
  $weight: normal;
  $style: normal;

  $style-options: italic, oblique;
  $weight-options: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, lighter;
  $type-options: 'woff', 'ttf', 'svg';
  $type-names: 'woff', 'truetype', 'svg';

  @each $option in $style-options {
    @if index($font, $option) {
      $style: $option;
      $font: filter($font, $option);
    }
  }

  @each $option in $weight-options {
    @if index($font, $option) {
      $weight: $option;
      $font: filter($font, $option);
    }
  }

  @each $item in $font {
    @if type-of($item) == string {
      $name: if($name, $name, $item);
      $location: $item;
    }
  }

  $src: compact();

  @each $type in $font-file-types {
    $short: $type;
    $long: nth($type-names, index($type-options, $type));
    $type: font-url('#{$location}.#{$short}', false, true) format($long);
    $src: append($src, $type, comma);
  }

  @font-face {
    font-family: quote($name);
    src: $src;
    font-weight: $weight;
    font-style: $style;
  }
}
