// Icon Toolkit
// ============


// Icon
// ----
@mixin icon(
  $name,
  $location: before
) {
  &:#{$location} {
    @extend %icon;
    content: get(icons $name);
    @content;
  }
}


// Data Icons
// ----------
@mixin data-icons(
  $icons: get(icons)
) {
  @each $name, $value in $icons {
    [data-icon='#{$name}']:before { content: $value; }
  }
}


// Placeholders
// ------------

%icon {
  font-family: 'susy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Data Icon
// ---------

[data-icon] {
  @extend %icon;
  @include before(attr(data-icon));
}
