// Icon Toolkit
// ============


// Icon
// ----
@mixin icon(
  $name,
  $location: before
) {
  &::#{$location} {
    @extend %icon;
    content: get(icons, $name);
    @content;
  }
}


// Icon [function]
// ---------------
@function icon(
  $name
) {
  @return get(icons, $name),
}


// Data Icons
// ----------
@mixin data-icons(
  $icons: get(icons)
) {
  @each $name, $value in $icons {
    @if map-has-key(get(icons), $value) {
      $value: get(icons, $value);
    }
    [data-icon='#{$name}']:before { content: $value; }
  }
}


// Placeholders
// ------------

@mixin icon-placeholder(
  $name: get(icon-font)
) {
  %icon {
    font-family: $name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [data-icon] {
    @extend %icon;
    @include before(attr(data-icon));
  }
}
