// ---------------------------------------------------------------------------
// Pixels and Rhythms

// Returns the nearest half-rhythm value for a given pixel length
//
// px-to-rhythm($px [, $from, $round])
// - $px    : The pixel value to convert.
// - $from  : Optional context font-size.
// - $round : Optional direction ["up" | "down"] to round the results.
@function px-to-rhythm(
  $px,
  $from: $base-font-size,
  $round: up
) {
  $rough: 2 * $px / $base-line-height;
  $lines: if($round == down, floor($rough) / 2, ceil($rough) / 2);
  @return rhythm($lines, $from);
}

// Returns the nearest half-rhythm value based on an images height
//
// rhythm-image($image [, $from, $round])
// - $image   : The image whos height we will use.
// - $from  : Optional context font-size.
// - $round : Optional direction ["up" | "down"] to round the results.
@function rhythm-image($image, $from: $base-font-size, $round: up) {
  @return px-to-rhythm(image-height($image), $from, $round);
}
