// ----------------------------------------------------------------------------
// Typography

// Default size of the dropcap (in px)
$default-dropcap-size           : $base-font-size * 2   !default;

// Default number of rhythm-lines for dropcap line-height
$default-dropcap-lines          : false                 !default;

// The default padding on a dropcap letter
$default-dropcap-padding        : null                  !default;

// The default font settings (null == inherit)
$default-dropcap-font-family    : null                  !default;

// Creates a dropcap using the :first-letter selector
//
// dropcap([$size, $lines, $padding, $from-size]) { @content }
// - $size        : Optional font-size of your dropcap.
// - $lines       : Optional lines of rhythm for the dropcap line-height.
// - $padding     : Optional padding around the dropcap.
// - $from-size   : Optional context font size, if using relative sizing.
// - $font-family : Optional font-stack for the dropcap.
// - @content     : Optionally override the default dropcap styles as needed.
@mixin dropcap(
  $size         : $default-dropcap-size,
  $lines        : $default-dropcap-lines,
  $padding      : $default-dropcap-padding,
  $from-size    : $base-font-size,
  $font-family  : $default-dropcap-font-family
) {
  $lines: if($lines, $lines, lines-for-font-size($size));
  &:first-letter {
    @include adjust-font-size-to($size,$lines,$from-size);
    font-family: $font-family;
    float: left;
    padding: $padding;

    @content;
  }
}
